.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.game-container h3{
    margin: 10px 0 0 0;
}
.back-link{
    align-content: center;
    justify-content: center;
}
.back{
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    color: black;
}
.teams{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.team-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgray;
    text-decoration: none;
    width: 420px;
    background-color: white;
    transition: 0.3s;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}
.team-line h2{
    font-size: 20pt;
}
.team-line h1{
    font-size: 25pt;
}
.team-line-group{
    display: flex;
    flex-direction: row;
    font-size: 16pt;
}
.team-line img {
    width: 100px;
}
.game-time{
    border: 1px solid lightgray;
    background-color: white;
    margin-top: 10px;
}
.game-time h3{
    margin: 10px;
}
.last-play{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border: 1px solid lightgray;
    background-color: white;
    margin: 10px 0 20px 0;
}
.last-play img{
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 5px;
}
.not-started-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.not-started{
    display: flex;
    flex: row;
    align-items: center;
    background-color: white;
    border: 1px solid lightgray;
    padding: 30px 15px;
}
.not-started img{
    width: 250px;
}
.team-tables{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}