.chart-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chart{
    background-size: cover;
    background-image: url('../../static/img/rinkBW.png');
}
.tooltip{
    background-color: white;
    width: 350px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tooltip img{ 
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 1px solid lightgray;
    margin-right: 10px;
}
.legend{
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
    margin: 5px;
}
.legend button{
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: white;
    padding: 10px;
    transition: 0.3s;
    font-weight: 700;
}
.legend button:hover{
    background-color: #ededed;
}
.legend p{
    display: inline;
}
.legend img{
    width: 10px;
    max-height: 15px;
    padding-right: 5px;
}
.strike p{
    text-decoration: line-through;
    background-color: lightgrey;
}
.legend-plays{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
}
.legend-teams{
    font-weight: 700;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}