
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.home img{
    width: 80px;
    margin-top: 10px;
}
.card-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;

}
.intro{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.intro h1{
}

.PSA{
    padding: 20px;
    text-align: center;
}
.PSA-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}