.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px 5px 0px 10px;
    margin: 10px;
    text-decoration: none;
    width: 400px;
    background-color: white;
    transition: 0.3s;
}
.card h3{
    color: black;
    margin: 0.5em 0em;
}
.card:hover{
    background-color: rgb(245, 245, 245);
    border-radius: 30px;
}
.team{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.team-description{
    display: flex;
    align-items: center;
    justify-self: flex-start;
}
.team img{
    width: 80px;
}
.team h1{
    padding: 0px 10px 0px 30px;
    color: black;
}
.team h2{
    color: black;
    font-size: 1em;
    margin: 0.5em 0em;
}
.team p{
    color: grey;
}

.link{
    text-decoration: none;
}
  