body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #ededed;
  font-family: 'Open Sans';
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: FuturaDemi;
  src: url('./static/fonts/FuturaBQ-DemiBold.otf');
}
@font-face {
  font-family: FuturaLT;
  src: url('./static/fonts/FuturaLT.ttf');
}

h1,h2,h3,h4{
  font-family: 'FuturaLT';
}